<h2 class="text-center">Results</h2>

<div class="text-center">
<p> Your answer: <strong> <%= @word %> </strong> </p>
<p> Result: <strong> <%= @message %> </strong> </p>
<button class="btn btn-warning"><%= link_to "New Game", new_path %></button>
</div>





